.ExpandCollapse{cursor:pointer;}
.TransactionManagerSummaryDetailCollapsed{display:none;}
.DropDownCorrection{white-space:nowrap;}

/* {margin:0; padding:0; font:12px Verdana,Arial}
code {font-family:"Courier New",Courier}

#options {width:457px; margin:20px auto; text-align:right; color:#9ac1c9}
#options a {text-decoration:none; color:#9ac1c9}
#options a:hover {color:#033}
*/
/*
.TransactionManagerAccDD {color:#003333;
float:right;
list-style:none outside none;
margin:-10px 0 0;
padding:0;
position:inherit;}
.TransactionManagerAccDD h3 {width:25px; border:1px solid #9ac1c9; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; margin-left: auto; margin-right: 0px; background:url(images/header.gif)}
.TransactionManagerAccDD h3:hover {background:url(images/header_over.gif)}
.TransactionManagerAccDD .acc-section {margin-left:-120px;
overflow:hidden;
position:absolute;
z-index:1002;}
.v .acc-content {width:150px; padding:15px; border:1px solid #9ac1c9; border-top:none; position: absolute;}
.acc-content {background-color:#F1F1F1;
border:1px solid red;
display:block;
overflow:visible;
padding:3px;
position:relative;}
.TransactionManagerGridCellAmount {width:33%;}
.TransactionManagerGridCellAmountLink  {
border:medium none;
padding:2px;
width:33%;
}

.TransactionManagerGridEditGiftDiv  {
clear:both;
float:left;
margin-right:20px;
white-space:nowrap;
}

.TransactionManagerExpanded dl {margin:0px;}

*/
/*
#nested {width:425px; list-style:none; color:#033; margin-bottom:15px}
#nested h3 {width:411px; border:1px solid #9ac1c9; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(images/header.gif)}
#nested h3:hover {background:url(images/header_over.gif)}
#nested .acc-section {overflow:hidden; background:#fff}
#nested .acc-content {width:393px; padding:15px; border:1px solid #9ac1c9; border-top:none; background:#fff}
#nested .acc-selected {background:url(images/header_over.gif)}*/


